<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="29.0.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.0" targetFramework="net472" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="uSync" version="8.6.2" targetFramework="net472" />
  <package id="uSync.BackOffice.Core" version="8.6.2" targetFramework="net472" />
  <package id="uSync.Community.Contrib" version="8.6.2" targetFramework="net472" />
  <package id="uSync.ContentEdition" version="8.6.2" targetFramework="net472" />
  <package id="uSync.Core" version="8.6.2" targetFramework="net472" />
  <package id="uSync.Expansions.Core" version="8.6.1.1" targetFramework="net472" />
  <package id="uSync.Publisher" version="8.6.1.1" targetFramework="net472" />
  <package id="uSync.Publisher.Static" version="8.6.1.1" targetFramework="net472" />
</packages>