<div ng-controller="uSyncPublisherServerSettingsController as vm">
    <form name="uSyncPublishServerForm">
        <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
        <umb-editor-view  ng-if="!vm.loading">
            <umb-editor-header name="vm.server.Name"
                               description="vm.server.Description"
                               alias="vm.server.Alias"
                               icon="vm.server.Icon"
                               ng-if="!vm.picker">
            </umb-editor-header>
            <umb-editor-container>
                <div ng-if="vm.picker">
                    <umb-box>
                        <umb-box-header title="Pick a template"
                                        description="Pick one of the templates below to as a quick start"></umb-box-header>
                    </umb-box>
                    <div class="usync-server-picker">
                        <div class="usync-server-option" ng-repeat="template in vm.templates">
                            <div>
                                <i class="icon {{template.icon}}"></i>
                                <h4>{{template.heading}}</h4>
                                <h5>{{template.subHeading}}</h5>
                                <div ng-bind-html="template.description"></div>
                            </div>
                            <button class="btn btn-success" prevent-default ng-click="vm.applyTemplate(template)">Start here</button>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" ng-if="!vm.picker">

                    <umb-box>
                        <umb-box-header title="Server setup"
                                        description="Url, access and message settings">
                            <div class="flex">
                                <div class="server-status server-status-heading" ng-if="vm.checked">
                                    <div ng-if="vm.status.Enabled"><i class="icon icon-check color-green"></i> <localize key="usyncpublish_availible">Availible</localize> </div>
                                    <div ng-if="vm.status.Enabled === undefined"
                                         class="usync-wait-animate"></div>
                                    <div ng-if="vm.status.Enabled === false"><i class="icon icon-wrong color-red"></i> {{vm.status.Status}}</div>
                                </div>


                                <umb-button ng-if="!vm.checked"
                                            type="link"
                                            button-style="link"
                                            label-key="usyncpublish_check"
                                            state="vm.checkStatus"
                                            action="vm.checkServer()">
                                </umb-button>
                            </div>
                        </umb-box-header>
                        <umb-box-content>

                            <umb-control-group label="Show for push"
                                               description="Show in list when pushing content/media"
                                               ng-if="!vm.networkMode">

                                <umb-toggle on-click="vm.server.Enabled = !vm.server.Enabled"
                                            checked="vm.server.Enabled"></umb-toggle>
                            </umb-control-group>

                            <umb-control-group label="Show for pull"
                                               description="Show in list when pulling content/media"
                                               ng-if="!vm.networkMode">

                                <umb-toggle on-click="vm.server.PullEnabled = !vm.server.PullEnabled"
                                            checked="vm.server.PullEnabled"></umb-toggle>
                            </umb-control-group>

                            <umb-control-group label="Url"
                                               description="Server URL e.g. http://server.name/umbraco">
                                <input type="text" class="umb-textstring umb-property-editor"
                                       ng-model="vm.server.Url" required />
                            </umb-control-group>

                            <umb-control-group label="Message"
                                               description="Text to show in push/pull dialog alongside options">
                                <textarea id="message" ng-model="vm.server.SendSettings.Message"
                                          class="umb-textstring umb-property-editor"
                                          rows="3"></textarea>
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_allowedServers"
                                               description="@usyncpublish_allowedServersDesc"
                                               ng-if="vm.networkMode">
                                <umb-property-editor model="vm.allowedPicker" />
                            </umb-control-group>
                        </umb-box-content>

                    </umb-box>
                    <div ng-if="vm.server.PublisherConfig.length > 0">
                        <div ng-include="vm.server.PublisherConfig"></div>
                    </div>

                    <div ng-if="vm.server.PublisherConfig.length == 0">
                        <!-- legacy view - this is now per publisher, so we get better publisher options -->
                        <div class="usync-publish-settings">
                            <umb-box class="usync-main-settings">
                                <umb-box-header title="Content Options"
                                                description="Options for sending content and media"></umb-box-header>

                                <umb-box-content>

                                    <umb-control-group label="Include children"
                                                       description="Include child items">
                                        <usync-user-controlled-boolean title="Include children" option="vm.server.SendSettings.IncludeChildren" />
                                    </umb-control-group>

                                    <umb-control-group label="Include media"
                                                       description="Media items used in the content">
                                        <usync-user-controlled-boolean title="Include media" option="vm.server.SendSettings.IncludeMedia" />
                                    </umb-control-group>
                                    <umb-control-group label="Delete orphaned"
                                                       description="Remove any content on the Target that isn't included in source folder">
                                        <usync-user-controlled-boolean title="Delete orphaned" option="vm.server.SendSettings.DeleteMissing" />
                                    </umb-control-group>

                                </umb-box-content>
                            </umb-box>

                            <umb-box>
                                <umb-box-header title="Developer settings"
                                                description="If you are controlling deployment of config another way you don't need these settings on"></umb-box-header>
                                <umb-box-content>
                                    <umb-control-group label="Include dependencies"
                                                       description="Doctypes, Datatypes, Macros, etc">

                                        <usync-user-controlled-boolean title="Include dependencies" option="vm.server.SendSettings.IncludeDependencies" />
                                    </umb-control-group>

                                    <umb-control-group label="Include files"
                                                       description="Views, Scripts and CSS files">
                                        <usync-user-controlled-boolean title="Include files" option="vm.server.SendSettings.IncludeFiles" />
                                    </umb-control-group>

                                    <div class="send-option-warning">
                                        <localize key="@usyncpublish_includeLinkedWarn">
                                    </div>

                                    <umb-control-group label="Include ancestors"
                                                       description="Include parent items">
                                        <usync-user-controlled-boolean option="vm.server.SendSettings.IncludeAncestors" />
                                    </umb-control-group>
                                    <umb-control-group label="Include linked"
                                                       description="Content linked to the published content (Generates a lot of items)">
                                        <usync-user-controlled-boolean title="Include linked" option="vm.server.SendSettings.IncludeLinked" />
                                    </umb-control-group>
                                </umb-box-content>

                            </umb-box>
                        </div>
                    </div>

                    <umb-box>
                        <umb-box-header title="Advanced options"
                                        description="Control who can do what and when"></umb-box-header>
                        <umb-box-content>

                            <umb-control-group label="@usyncpublish_groups"
                                               description="@usyncpublish_groupsDesc">
                                <umb-property-editor model="vm.userGroupPicker" />
                            </umb-control-group>

                            <umb-control-group label="Show self"
                                               description="Show in list when user is pushing/pulling from this server"
                                               ng-if="!vm.networkMode">

                                <umb-toggle on-click="vm.server.ShowSelf = !vm.server.ShowSelf"
                                            checked="vm.server.ShowSelf"></umb-toggle>
                            </umb-control-group>


                            <umb-control-group label="Publisher"
                                               description="Publisher used for this server">

                                <div class="umb-property-editor umb-readonlyvalue">
                                    {{vm.server.Publisher}}<br />
                                    <em><small>Publisher settings can be controlled via config, these are custom to each publisher</small></em>
                                </div>

                            </umb-control-group>

                        </umb-box-content>
                    </umb-box>

                </div>
            </umb-editor-container>

            <umb-editor-footer ng-if="!vm.picker">
                <umb-editor-footer-content-right>
                    <div>
                        <umb-button type="button"
                                    button-style="action"
                                    label-key="buttons_save"
                                    state="vm.buttonState"
                                    action="vm.save()">
                        </umb-button>
                    </div>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>